<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.willowcheng.makerthings"
    android:versionCode="15"
    android:versionName="1.7.0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.NFC" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="me.willowcheng.makerthings.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="me.willowcheng.makerthings.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:name="me.willowcheng.makerthings.core.HABDroid"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashScreen"
            android:launchMode="singleTop"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SignupActivity"
            android:theme="@style/SplashScreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SplashScreen" />
        </activity>
        <activity
            android:name="me.willowcheng.makerthings.ui.OpenHABPreferencesActivity"
            android:label="@string/app_preferences_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.OpenHABMainActivity" />
        </activity>
        <activity
            android:name="me.willowcheng.makerthings.ui.OpenHABMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NavDrawerTheme">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="openhab" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="openhab" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.willowcheng.makerthings.ui.OpenHABWriteTagActivity"
            android:label="@string/title_activity_openhabwritetag">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.OpenHABMainActivity" />
        </activity>
        <activity
            android:name="me.willowcheng.makerthings.ui.OpenHABInfoActivity"
            android:label="@string/title_activity_openhabinfo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.OpenHABMainActivity" />
        </activity>
        <activity android:name="de.duenndns.ssl.MemorizingActivity" />

        <service
            android:name="me.willowcheng.makerthings.core.OpenHABVoiceService"
            android:exported="false"></service>

        <receiver
            android:name="me.willowcheng.makerthings.core.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="me.willowcheng.makerthings" />
            </intent-filter>
        </receiver>
        <receiver android:name="me.willowcheng.makerthings.core.NotificationDeletedBroadcastReceiver">
            <intent-filter>
                <action android:name="me.willowcheng.makerthings.notification.deleted" />
                <category android:name="me.willowcheng.makerthings" />
            </intent-filter>
        </receiver>

        <service android:name="me.willowcheng.makerthings.core.GcmIntentService" />
        <receiver
            android:name="me.willowcheng.makerthings.ui.VoiceWidget"
            android:label="@string/title_voice_widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/voice_widget_info" />
        </receiver>
        <!--    This is temp disabled because of a bug in GMS 6.5
                <meta-data android:name="com.google.android.gms.analytics.globalConfigResource"
                    android:resource="@xml/global_tracker" /> -->
    </application>
</manifest>